{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrarse</title>
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
</head>
<body>
    <div class="layout-flex">
        <header class="main-header">
            <div class="header-content">
                <img src="{% static 'img/libreriaicon.png' %}" alt="Logo" class="logo-header">
                <div class="header-title">
                    <span class="logo-text">Librerías <strong>LECTURA</strong></span>
                    <span class="logo-sub">Desde 1997 ...</span>
                </div>
                <nav class="main-nav">
                    <a href="{% url 'inicio' %}">Inicio</a>
                    <a href="#">Acerca de</a>
                    <a href="{% url 'ver_carrito' %}">Carrito</a>
                    <a href="#">Contacto</a>
                </nav>
                <div class="user-menu">
                    <span>👤 Mi cuenta</span>
                </div>
            </div>
        </header>
        <main class="main-content">
            <h1>Registrar nuevo usuario</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Registrarse</button>
            </form>
            <p>¿Tienes cuenta? <a href="{% url 'inicio' %}">Inicia sesión aquí</a></p>
        </main>
        <footer class="main-footer">
            <span>&copy; 2025 <strong>Grupo 17</strong> — Tema 3 | Programación Web III</span>
        </footer>
    </div>
</body>
</html>
